.main-app {
  /* background-color: #282c34; */
  background-color: #fff;
  min-height: 100vh;
  display: flex;
  padding-left: 16rem !important;
  padding-right: 16rem !important;
  flex-direction: column;
  align-items: center;
  font-size: 1rem;
  color: black;
  padding: 1rem;
}

@media only screen and (max-width: 600px) {
  .main-app {
    padding-left: 16px !important;
    padding-right: 16px !important;
  }
}

.app-link {
  color: #61dafb;
}


.main-form :not(:last-child) {
  margin-bottom: 2rem;
}

.field {
  display: flex;
  flex-direction: column;
}

.field :first-child {
  margin-bottom: 0.6rem;
}

.button {
  border-radius: 2rem;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #4c8af4;
  color: #fff;
  border: 0;
}

.title-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.title-icon {
  color: red;
  width: 3rem;
  height: 3rem;
  margin-right: 1.5rem;
}

.title {
  color: #4c8af4;
  font-size: 3rem;
  background: linear-gradient(to right, #6a94dd, #055ef6, #6a94dd) 0 0 / cover
    no-repeat;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  line-height: 80px;
  margin: 0;
}

.title-desc {
  color: #8a8787;
  margin: 0;
}

select,
input {
  outline: none;
  border: none;
  box-shadow: none;
  /* appearance: none; */
  padding: 0.5rem;
  width: 100%;
  font-size: 1rem;
}
