.react-select__value-container {
  margin: 0 !important;
}

.react-select__single-value,
.react-select__placeholder,
.react-select__input-container {
  margin: 0 0 0 12px !important;
}

.react-select__control {
  min-height: none !important;
}

.react-select__single-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
